.header {
    width: 50%;
    background-color: #0998eb;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__titulo {
    font-size: 30px;
    font-weight: bold;
}

.header__lista {
    display: flex;
    flex-direction: row;
}

.header__lista--item {
    list-style-type: none;
    margin: 3px 20px;
}

.header__link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.header__link:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}