.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e8fdff;
    padding: 10px 30px;
}

.header__titulo {
    font-size: 30px;
    font-weight: bold;
}

.header__lista {
    display: flex;
    flex-direction: row;
}

.header__lista--item {
    list-style-type: none;
    margin: 3px 20px;
}