.tickets {
    width: 50%;
}

.tickets__icone {
    width: 18x;
    height: 18px;
    padding: 0 4px;
}

.tickets__titulo {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin: 3px 0;
}

.tickets__titulo--headline {
    display: flex;
    justify-content: center;
}

.tickets__titulo--subtitulo {
    background-image: linear-gradient(to left, rgba(255,0,0,0), #def4ff);
    display: flex;
    padding: 7px 15px; 
}

.tickets__titulo--subtituloaguardando {
    background-image: linear-gradient(to left, rgba(255,0,0,0), #ffe8d4);
    display: flex;
    padding: 7px 15px;  
}

.tickets__titulo--subtitulofechado {
    background-image: linear-gradient(to left, rgba(255,0,0,0), #ffe6e3);
    display: flex;
    padding: 7px 15px;
}

.tickets__lista--abertos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tickets__lista--aguardando {
    display: flex;
    flex-direction: column;   
    margin-top: 10px;
}

.tickets__lista--fechados {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}

.tickets__lista--item {
    display: flex;
    padding: 5px 5px;
}

.tickets__lista--itemfechado {
    display: flex;
    padding: 5px 5px;
    color: #d10a0a;
}

.tickets__links {
    font-size: 18px;
    text-decoration: none;
    color: #292929;
    padding: 0 2px;
}

.tickets__links:hover {
    text-decoration: underline;
    font-weight: bold;
}