{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Tickets</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header class="header">
        <p class="header__titulo">Sistema de Agenda</p>
        <nav class="header__menu">
            <ul class="header__lista">
                <li class="header__lista--item"><a href="https://github.com/danielbecher/pytickets">Repositório</a></li>
                <li class="header__lista--item"><a href="/logout">Deslogar</a></li>
            </ul>
        </nav>
    </header>  
