{% extends "modelo.html" %}

{% block content %}

<main class="tickets">
    <h2 class="tickets__titulo">Tickets</h2>
    <ul class="tickets__lista--abertos">
        <h3 class="tickets__titulo--subtitulo">Em andamento</h3>
        {% for ticket in tickets %}
        {% if ticket.status == 'Aberto' or ticket.status == 'Aguardando' %}
        <li class="tickets__lista--item"> 
             {{ ticket.assunto }} - {{ ticket.get_data_ticket }} às {{ ticket.get_hora_ticket }} [<a href="ticket/?id={{ ticket.id }}">Ver</a> | <a href="fecha/?id={{ ticket.id }}">Fechar</a>]
        </li>{% endif %} {% endfor %}
    </ul>
    <ul class="tickets__lista--fechados">
        <h3 class="tickets__titulo--subtitulo">Encerrados</h3>
            {% for ticket in tickets %}
            {% if ticket.status == 'Fechado' %}
            <li class="tickets__lista--item"> {{ ticket.assunto }} - {{ ticket.get_data_ticket }} às {{ ticket.get_hora_ticket }} [<a href="ticket/?id={{ ticket.id }}">Ver</a> | <a href="abre/?id={{ ticket.id }}">Reabrir</a>]</li> {% endif %} {% endfor %}
        </h3>
    </ul>
</main>
{% endblock %}