{% extends "modelo.html" %}

{% block content %}
<section class="ticket">
    <h2 class="ticket__titulo">Ticket # {{ ticket.id }} - {{ ticket.get_data_ticket }} {{ ticket.get_hora_ticket }}</h2>
    <h3 class="ticket__subtitulo--author">Criado por {{ ticket.get_nome_usuario }}</h3>
    <form action="submit" method="POST">{% csrf_token %}
        <input type="text" name="id_ticket" value="{{ ticket.id }}" hidden>
        <label class="ticket__label">Assunto</label>
        <input class="ticket__input" type="text" name="assunto" value="{{ ticket.assunto }}">
        <label class="ticket__label">Ocorrência</label>
        <textarea class="ticket__input" name="descricao" rows=10 cols=20>{{ ticket.descricao }}</textarea>
        <label class="ticket__label">Status</label>
        <select class="ticket__input" type="text" name="status" value="{{ ticket.status }}">
            <option {% if ticket.status == 'Aberto' %} selected {% endif %}>Aberto</option>
            <option {% if ticket.status == 'Fechado' %} selected {% endif %}>Fechado</option>
            <option {% if ticket.status == 'Aguardando' %} selected {% endif %}>Aguardando</option>
        </select>
        <label class="ticket__label">Prioridade</label>
        <select class="ticket__input" name="prioridade">
            <option value="Baixa" {% if ticket.prioridade == "Baixa" %} selected {%endif%}>Baixa</option>
            <option value="Média" {% if ticket.prioridade == "Média" %} selected {%endif%}>Média</option>
            <option value="Alta" {% if ticket.prioridade == "Alta" %} selected {%endif%}>Alta</option>
        </select>
        <button class="ticket__button" type="submit">Salvar</button>
    </form>
</section>
    
<section class="interacoes">
    <h2 class="ticket__subtitulo">Interações</h2>
    {% for itens in interacoes %}
    <div class="ticket__interacao">
        <p class="ticket__interacao--texto">{{ itens.interacao }}</p>
        <p class="ticket__interacao--data">  {{ itens.id_usuario }} - {{ itens.data_criacao }}</p></div>
    {% endfor %}
</section>

<section class="resposta">
    <h3 class="ticket__interacao--textosub">Adicionar resposta</h3>
    <form action="interacaosubmit" method="POST">{% csrf_token %}
        <input type="text" name="id_ticket" value="{{ ticket.id }}" hidden>
        <label class="ticket__label">Resposta</label>
        <textarea class="ticket__input" name="resposta" rows=10 cols=20></textarea>
        <button class="ticket__button" type="interacaosubmit">Adicionar</button>
    </form>
</section>

<section class="interacoes">
    {%if request.user.is_staff %}
        <a href="/tickets/ticket/delete/{{ ticket.id }}/"><button class="ticket__button--delete" type="interacaosubmit">Deletar</button></a>
    {% endif %}
</section>


{% endblock %}